.btns{
  padding: 22.5px 24px;
  border-radius: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
}
.btns p{
  margin-bottom: 0;
  font-weight: bold;
  text-wrap: nowrap;
}
.btns svg{
  margin: 4px;
}
.btn-gray{
  background: var(--gray-100);
}
.btn-white{
  background: #fff;
}
.btn-brown{
  background: var(--brown);
  p{
    color: #fff;
  }
}