.title{
  font-family: var(--ff-mantouSans);
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  font-size: 64px;
}