@font-face {
  font-family: 'MantouSans';
  src: url('../fonts/MantouSans-Regular.ttf') format("woff"),
    url('../fonts/MantouSans-Regular.ttf') format("truetype"),
    url('../fonts/MantouSans-Regular.ttf') format("embedded-opentype");
}

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body,h1,h2,h3,h4,h5,h6,p,div,span,ul,li,section,article{
  font-family:'Inter',sans-serif;
}