/* ------------------HEADER------------------ */
.header-container{
  background: var(--bg-01);
  opacity: 90%;
  padding:16px 24px;

  header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  }

  .header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--brown);
  }

  .header-logo-name{
    font-weight: bold;
    margin-bottom: 0;
    padding-left: 4px;
  }
  .header-nav{
    padding-top: 17.5px;
    padding-bottom: 17.5px;
  }
  .header-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 0;
    margin-bottom: 0;
  }

  .header-nav ul li{
    padding: 8px;
    color: var(--text-01);
    font-weight: 600;
  }

  .header-icon{
    display: flex;
    gap: 16px;
  }
}
/* ------------------BANNER------------------ */
.banner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner-content h1{
    font-size: 96px !important;
    line-height: 105%;
    letter-spacing: 2px;
    padding-top: 96px;
  }
  .banner-content-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 91.5px;
    gap: 16px;
  }
  h3.banner-content-intro-tag{
    margin-bottom: 0;
    font-size: 30px; // 未動
  }
  .banner-content-intro-namePart{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 16px;
    border-radius: 16px;
    box-shadow: 1px 3px 10px rgba(102, 102, 102, 0.13);
  }
  .banner-content-intro-namePart svg{
    padding-top: 8px;
  }
  .banner-content-intro-namePart h2{
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 0;
  }

  figure figcaption{
    display: none;
  }
  figure img{
    width: 723px;
    padding-top: 8px; 
    margin-bottom: -21px;
  }
}
/* ------------------SLOGAN------------------ */
.slogan-container{
  background: var(--brown);

  ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
  }
  ul li{
    font-family: var(--ff-mantouSans);
    color: #fff;
    word-wrap:wrap;
  }
}
/* ------------------PROPOSITION------------------ */
.proposition-container{
  background: var(--bg-02);
  padding: 104px 0;

  .proposition-part{
    display: flex;
    gap: 24px;
    background: #fff;
    border-radius: 32px;
    padding: 0;
  }
  .proposition-part-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 40px;
    gap: 32px;
    flex: 1;
  }
  .proposition-part-content-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .proposition-part-content-text{
    font-weight: bold;
    color: var(--text-01);
    margin-bottom: 0;
  }
  .proposition-part-content-text span{
    color: var(--brown);
  }
  .proposition-part-content-p{
    color: var(--text-01);
    line-height: 1.5;
  }
  .proposition-part-img{
    flex:1;
    background: #000;
    background-image: url(../img/image\ 8.png);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
  }
}

/* ------------------NEWS - latest events------------------ */
.news-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 104px;
  padding-bottom: 104px;

  .news-title-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
  }
  .news-content{
    display: flex;
    justify-content: center;
    align-items:start;
    gap: 24px;
  }
  .news-content-card-hl{
    flex: 1;
  }
  .card-hl-img{
    width: 100%;
    height: 407px;
  }
  .card-hl-img img{
    background-image: url(../img/news-image\ 03.jpeg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 16px;
  }

  .news-content .card{
    border: none;
  }
  .news-content-cards-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .news-content-cards-container a{
    text-decoration: none;
    cursor: pointer;
  }
  .news-content-cards-container img{
    width: 201px;
    height: 134px;
    object-fit: cover;
    border-radius: 8px;
  }
  .card-body{
    padding: 0;
  }
  .news-content-cards-container .card-body{
    padding-left: 16px;
  }

  .card-time{
    color: var(--gray-500);
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .news-content-cards-container .card-time{
    margin-top: 0;
  }

  .card-title{
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* ------------------news - latest events MODAL------------------ */
  .news-content-cards-container{
    .modal-dialog{
      max-width: 80%;
    }
    .modal-content{
      border-radius: 24px;
    }
    .modal-header{
      border-bottom: none;
      padding: 24px 48px;
    }
    .modal-title{
      color: var(--gray-700);
    }
    .modal-header button{
      border: 0;
      background: #fff;
    }
    .modal-body {
      display: flex;
      padding: 8px 48px 40px 48px;
      gap: 32px;
    }
    .modal-body-first img{
      width: 507px;
      height: 318px;
      border-radius: 24px;
    }
    .modal-body-first-p{
      padding-top: 16px;
    }
    .modal-body-first-share{
      display: flex;
      gap: 16px;
      align-items: center;
    }
    .modal-body-second-title-part{
      padding-bottom: 32px;
    }
    .modal-body-second-title-part-title{
      font-weight: bold;
      color: var(--brown);
      padding-bottom: 8px;
    }
    .modal-body-second-article-part{
      color: var(--text-01);
      padding-bottom: 32px;
    }
    .modal-body-second-moreEvents-part{
      padding: 16px;
      background: var(--gray-50);
      border-radius: 12px;
    }
    .modal-body-second-moreEvents-part-title{
      font-weight: bold;
      color: var(--text-01);
      padding-bottom: 16px;
    }
    .modal-body-second-moreEvents-part-title-cards{
      display: flex;
      gap: 16px;
    }
    .modal-body-second-moreEvents-part-title-cards .card{
      gap: 12px;
      background: none;
    }
    .modal-body-second-moreEvents-part-title-cards .card img{
      height: 134px;
    }
    .modal-body-second-moreEvents-part-title-cards .card .card-title{
      color: var(--text-01);
      text-wrap: wrap;
      width: 201px;
      margin-bottom: 0;
    }
    .btns{
      width: fit-content;
    }
  }
}

/* ------------------POLICY - policy issues------------------ */
.policy-container{
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;

  .policy-title-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .policy-body-part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
  
    .card{
      border: none;
      
      .card-title{
        padding: 0 16px 16px 16px;
        margin-bottom: 0;
      }
      
      .card-img{
        border-radius: 24px;
        width: 397px;
        height: 267px;
        object-fit: cover;
      }
    }

    /* modal */
    .modal{
      .modal-dialog {
        max-width: 80%;
      }

      .modal-content {
        border-radius: 24px;
      }

      .modal-header {
        border-bottom: none;
        padding: 24px 48px;
      }

      .modal-title {
        color: var(--gray-700);
      }

      .modal-header button {
        border: 0;
        background: #fff;
      }

      .modal-body {
        display: flex;
        padding: 8px 48px 40px 48px;
        gap: 32px;
      }

      .modal-body-first img {
        width: 507px;
        height: 318px;
        border-radius: 24px;
        object-fit: cover;
      }

      .modal-body-first-p {
        padding-top: 16px;
      }

      .modal-body-first-share {
        display: flex;
        gap: 16px;
        align-items: center;
      }

      .modal-body-second-title-part {
        padding-bottom: 32px;
      }

      .modal-body-second-title-part-title {
        font-weight: bold;
        color: var(--brown);
        padding-bottom: 8px;
      }

      .modal-body-second-article-part {
        color: var(--text-01);
        padding-bottom: 32px;

        ul{
          padding-left: 0;
        }

        li{
          margin-bottom: 24px;
        }

        .li-title{
          font-weight: bold;
          padding-bottom: 8px;
        }
        .li-p{
          margin-bottom: 0;
        }
      }

      .modal-body-second-moreEvents-part {
        padding: 16px;
        background: var(--gray-50);
        border-radius: 12px;
      }

      .modal-body-second-moreEvents-part-title {
        font-weight: bold;
        color: var(--text-01);
        padding-bottom: 16px;
      }

      .modal-body-second-moreEvents-part-title-cards {
        display: flex;
        gap: 16px;
      }

      .modal-body-second-moreEvents-part-title-cards .card {
        gap: 12px;
        background: none;
      }

      .modal-body-second-moreEvents-part-title-cards .card img {
        height: 134px;
        border-radius: 24px;
        object-fit: cover;
      }

      .modal-body-second-moreEvents-part-title-cards .card .card-title {
        color: var(--text-01);
        text-wrap: wrap;
        width: 201px;
        margin-bottom: 0;
      }
    }
  }
}

/* ------------------CONTACT US - donate、email------------------ */
.contactUs-container{
  padding-top:104px; 
  padding-bottom:104px; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  .contactUs-part{
    width: 648px;
    height: 596px;
    padding: 96px;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(1) {
      background: var(--brown);
    }
    &:nth-child(2) {
      background: var(--gray-700);
    }

    .contactUs-part-text-part{
      color: #fff;
    }
    .contactUs-part-text-title{
      font-family: var(--ff-mantouSans);
      font-size: 52px;
      padding-bottom: 16px;
    }
    .contactUs-part-text-p{
      font-weight: bold
    }
    .contactUs-part-trigger-part{
      height: 230px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button{
        border: none;
      }

      /* MODAL */
      .modal{
        .modal-dialog{
          max-width: 80%;
        }
        .modal-content{
          border-radius: 24px;
          
          .modal-header{
            border: none;
            button{
              background: none;
            }
          }
        }
      }

      /* donate */
      .modal-donate{
        .modal-body {
            padding: 8px 48px 48px 48px;
            display: flex;
            gap: 32px;
        
            .modal-body-text-part {
              padding: 60px;
              background: var(--bg-02);
              border-radius: 24px;
        
              .modal-body-text-part-title {
                color: var(--brown);
                font-weight: bold;
              }
        
              .modal-body-text-part-totalAmount {
                padding-top: 16px;
        
                span {
                  font-weight: bold;
                }
              }
        
              .modal-body-text-part-img {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 52px 137.5px;
              }
            }
        
            .modal-body-active-part {
              display: flex;
              flex-direction: column;
              gap: 16px;
              width: 100%;
        
              &.active {
                justify-content: center;
                align-items: center;
                gap: 32px;
        
                img {
                  width: 187px;
                }
        
                .btns {
                  width: 224px;
                }
              }
        
              .modal-body-active-part-title {
                margin-bottom: 0;
              }
        
              .donatePlan-btn {
                border: 2px solid var(--gray-200);
                background: #fff;
                border-radius: 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 24px 16px;
        
                &.active,
                :focus {
                  outline: none;
                  border: 2px solid var(--brown);
                }
        
                .donatePlan-btn-title {
                  color: var(--brown);
                  font-weight: bold;
                  margin-bottom: 0;
                }
        
                .donatePlan-btn-info {
                  display: flex;
                  justify-content: center;
                  align-items: center;
        
                  .donatePlan-btn-info-price {
                    display: flex;
                    gap: 8px;
                    text-align: right;
        
                    .donatePlan-btn-info-price-currency {
                      padding-left: 18.5px;
                    }
        
                    .donatePlan-btn-info-price-num {
                      font-weight: bold;
                      text-align: right;
                    }
                  }
        
                  .donatePlan-btn-info-peopleAmount {
                    width: 140px;
                    text-align: right;
                    padding-top: 8px;
                    padding-bottom: 8px;
                  }
                }
              }
        
              /* Customize donate */
              .donatePlan-btn-customize {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 8px;
                padding: 16px;
        
                .donatePlan-btn-customize-input {
                  border-radius: 8px;
                  background: var(--gray-100);
                  display: flex;
                  align-items: center;
                  width: 100%;
                  padding-left: 15px;
        
                  span {
                    padding-right: 10px;
                  }
        
                  input {
                    padding-top: 17.5px;
                    padding-bottom: 17.5px;
                    background: none;
                    border: none;
                    width: 100%;
                    color: var(--gray-500);
                  }
                }
              }
        
              /* donate btn */
              .btns {
                width: 100%;
              }
            }
          }
      }

      /* email */
      .modal-email{
        .modal-body {
          padding: 8px 48px 48px 48px;
          display: flex;
          gap: 32px;
      
          .modal-body-text-part {
            background: #E3F8FF;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
      
            .modal-body-text-part-title {
              color: var(--gray-700);
              font-weight: bold;
              padding: 64px 60px 115px 60px;
            }
      
            img {
              max-width: 731px;
            }
          }
      
          .modal-body-active-part ul{
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
            margin: 0;
            padding: 0;
      
            .form-label {
              margin-bottom: 8px;
            }

            input{
              background: var(--gray-100);
              border: none;
              padding: 16px 0 16px 15px;
              display: inline-block;
            }
            
            textarea{
              background: var(--gray-100);
              border: none;
            }

            /* donate btn */
            .btns {
              width: 100%;
            }
          }
        }
      }
    }
  } 
}